{% extends 'blog/base.html' %} <!--aqui heredamos todo lo de base-->

{% load static %}

{% block content %}

<script>
window.onload = function() {
    var elem = document.getElementById('iniciobarra');
    elem.innerHTML = `<a href="/inicio" class="nav-item nav-link active">Inicio</a>`;
};

</script>

<!-- Team Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center pb-2">
            <h6 class="text-primary text-uppercase font-weight-bold">Compra ya</h6>
            <h1 class="mb-4">Novedades de la Semana</h1>
        </div>
        <div class="row" style="gap: 2rem">
            <div class="card-property col-lg-4 col-md-6" style="padding: 0; max-width: 350px">
                <div class="img-container" style="width: 100%">
                    <img class="card-img-top" src="{% static 'img/ElPalacio.jpg' %}" alt="" style="max-width: 600px">
                </div>
                <div class="bg-secondary" style="display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 15px">
                    <h5 class="font-weight-bold">Proyecto El Palacio</h5>
                    <span><i class="fa fa-map-marker-alt mr-2"></i>Sachaca - Arequipa</span>
                </div>
                <div class="bg-primary" style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 8px">
                </div>
            </div>

            <div class="card-property col-lg-4 col-md-6" style="padding: 0; max-width: 350px">
                <div class="img-container" style="width: 100%">
                    <img class="card-img-top" src="{% static 'img/ElPalacio.jpg' %}" alt="" style="max-width: 600px">
                </div>
                <div class="bg-secondary" style="display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 15px">
                    <h5 class="font-weight-bold">Proyecto El Palacio</h5>
                    <span><i class="fa fa-map-marker-alt mr-2"></i>Sachaca - Arequipa</span>
                </div>
                <div class="bg-primary" style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 8px">
                </div>
            </div>

            <div class="card-property col-lg-4 col-md-6" style="padding: 0; max-width: 350px">
                <div class="img-container" style="width: 100%">
                    <img class="card-img-top" src="{% static 'img/ElPalacio.jpg' %}" alt="" style="max-width: 600px">
                </div>
                <div class="bg-secondary" style="display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 15px">
                    <h5 class="font-weight-bold">Proyecto El Palacio</h5>
                    <span><i class="fa fa-map-marker-alt mr-2"></i>Sachaca - Arequipa</span>
                </div>
                <div class="bg-primary" style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 8px">
                </div>
            </div>

             <div class="card-property col-lg-4 col-md-6" style="padding: 0; max-width: 350px">
                <div class="img-container" style="width: 100%">
                    <img class="card-img-top" src="{% static 'img/ElPalacio.jpg' %}" alt="" style="max-width: 600px">
                </div>
                <div class="bg-secondary" style="display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 15px">
                    <h5 class="font-weight-bold">Proyecto El Palacio</h5>
                    <span><i class="fa fa-map-marker-alt mr-2"></i>Sachaca - Arequipa</span>
                </div>
                <div class="bg-primary" style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 8px">
                </div>
            </div>

             <div class="card-property col-lg-4 col-md-6" style="padding: 0; max-width: 350px">
                <div class="img-container" style="width: 100%">
                    <img class="card-img-top" src="{% static 'img/ElPalacio.jpg' %}" alt="" style="max-width: 600px">
                </div>
                <div class="bg-secondary" style="display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 15px">
                    <h5 class="font-weight-bold">Proyecto El Palacio</h5>
                    <span><i class="fa fa-map-marker-alt mr-2"></i>Sachaca - Arequipa</span>
                </div>
                <div class="bg-primary" style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 8px">
                </div>
            </div>

             <div class="card-property col-lg-4 col-md-6" style="padding: 0; max-width: 350px">
                <div class="img-container" style="width: 100%">
                    <img class="card-img-top" src="{% static 'img/ElPalacio.jpg' %}" alt="" style="max-width: 600px">
                </div>
                <div class="bg-secondary" style="display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 15px">
                    <h5 class="font-weight-bold">Proyecto El Palacio</h5>
                    <span><i class="fa fa-map-marker-alt mr-2"></i>Sachaca - Arequipa</span>
                </div>
                <div class="bg-primary" style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 8px">
                </div>
            </div>

             <div class="card-property col-lg-4 col-md-6" style="padding: 0; max-width: 350px">
                <div class="img-container" style="width: 100%">
                    <img class="card-img-top" src="{% static 'img/ElPalacio.jpg' %}" alt="" style="max-width: 600px">
                </div>
                <div class="bg-secondary" style="display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 15px">
                    <h5 class="font-weight-bold">Proyecto El Palacio</h5>
                    <span><i class="fa fa-map-marker-alt mr-2"></i>Sachaca - Arequipa</span>
                </div>
                <div class="bg-primary" style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 8px">
                </div>
            </div>

             <div class="card-property col-lg-4 col-md-6" style="padding: 0; max-width: 350px">
                <div class="img-container" style="width: 100%">
                    <img class="card-img-top" src="{% static 'img/ElPalacio.jpg' %}" alt="" style="max-width: 600px">
                </div>
                <div class="bg-secondary" style="display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 15px">
                    <h5 class="font-weight-bold">Proyecto El Palacio</h5>
                    <span><i class="fa fa-map-marker-alt mr-2"></i>Sachaca - Arequipa</span>
                </div>
                <div class="bg-primary" style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 8px">
                </div>
            </div>

             <div class="card-property col-lg-4 col-md-6" style="padding: 0; max-width: 350px">
                <div class="img-container" style="width: 100%">
                    <img class="card-img-top" src="{% static 'img/ElPalacio.jpg' %}" alt="" style="max-width: 600px">
                </div>
                <div class="bg-secondary" style="display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 15px">
                    <h5 class="font-weight-bold">Proyecto El Palacio</h5>
                    <span><i class="fa fa-map-marker-alt mr-2"></i>Sachaca - Arequipa</span>
                </div>
                <div class="bg-primary" style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 8px">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}