{% extends 'blog/baseDetail.html' %} <!--aqui heredamos todo lo de base-->

{% load static %}


{% block content %}

    <div class="container bg-secondary">
        <div class="row" style="padding: 1.5rem">
            <div class="col-12 col-xl-7 col-lg-6">
               <div class="img-container" style="width: 100%;">
                   <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                      <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                      </ol>
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                           <img class="" src="{% static 'img/ElPalacio.jpg' %}" alt="" style="width: 100%; object-fit: cover">
                        </div>
                        <div class="carousel-item">
                          <img class="" src="{% static 'img/ElPalacio.jpg' %}" alt="" style="width: 100%; object-fit: cover">
                        </div>
                        <div class="carousel-item">
                          <img class="" src="{% static 'img/ElPalacio.jpg' %}" alt="" style="width: 100%; object-fit: cover">
                        </div>
                      </div>
                      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                   </div>
               </div>
                <div class="price-container" style="margin-top: 15px; border-radius: 5px; background-color: white; padding: 12px 8px">
                    <span>Desde</span>
                    <h4> S/ 590,000 </h4>
                    <div class="bg-secondary" style="height: 3px; margin: 1rem 0">
                    </div>
                    <div class="row p-2">
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="row">
                                <div class="col-2" style="display: flex; flex-direction: column; justify-content: center">
                                    <i class="fa fa-map-marker-alt mr-2"></i>
                                </div>
                                <div class="col-10">
                                    <div class="row">
                                        <div class="col-12">
                                             <span style="font-size: 12px"><b>Estado:</b></span>
                                        </div>
                                        <div class="col-12">
                                             <span>En Planos</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="row">
                                <div class="col-2" style="display: flex; flex-direction: column; justify-content: center">
                                    <i class="fa fa-map-marker-alt mr-2"></i>
                                </div>
                                <div class="col-10">
                                    <div class="row">
                                        <div class="col-12">
                                                 <span style="font-size: 12px"><b>Entrega:</b></span>
                                        </div>
                                        <div class="col-12">
                                             <span>15 de Agosto</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="row">
                                <div class="col-2" style="display: flex; flex-direction: column; justify-content: center">
                                    <i class="fa fa-map-marker-alt mr-2"></i>
                                </div>
                                <div class="col-10">
                                    <div class="row">
                                        <div class="col-12">
                                             <span style="font-size: 12px"><b>Financiamiento:</b></span>
                                        </div>
                                        <div class="col-12">
                                             <span>Interbank</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-5 col-lg-6 pt-3">
                <div class="header-detail-project mb-0">
                    <h6 class="text-primary text-uppercase font-weight-bold"><i class="fa fa-map-marker-alt mr-2"></i>Sachaca - Arequipa</h6>
                    <h1 class="mb-0" >Proyecto el Palacio</h1>
                </div>
                <div class="caracteristic-header mb-3 mt-3">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <i class="fa-solid fa-house mr-2"></i>
                            <span>2 Dormitorios</span>
                        </div>
                        <div class="col-12 col-md-4">
                            <i class="fa fa-map-marker-alt mr-2"></i>
                            <span>3 baños</span>
                        </div>
                        <div class="col-12 col-md-4">
                            <i class="fa fa-map-marker-alt mr-2"></i>
                            <span>120 m<sup>2</sup></span>
                        </div>
                    </div>
                </div>
                <div class="caracteristic-detail-project">
                    <p style="font-size: 14px">
                        Esta hermosa propiedad se encuentra ubicada en El Palacio I, Sachaca, a pocos metros de la Iglesia Mormona, dentro de una quinta privada con vigilancia las 24 horas del día.
                        <br>Por su ubicación y posición, cuenta con un clima extraordinario donde la luz entra a la casa a lo largo del día. Está rodeada de bellos jardines florales que bordean toda la propiedad.
                    </p>
                    <h4 class="mb-4" style="margin-bottom: 8px !important;">Características</h4>
                    <ul style="font-size: 12px">
                        <li>Área: 50m2</li>
                        <li>Dúplex</li>
                        <li>Finamente amoblado y equipado</li>
                        <li>Vista hacia jardín</li>
                        <li>Sala </li>
                        <li>Cocina integrada al comedor </li>
                        <li>Lavandería</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
{% endblock %}